.App{
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.top-section {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: fit-content;
    z-index: 10;          /* ✅ bring above background */
}

.top-section form {
    pointer-events: auto; /* ✅ make the input clickable */
}