.auth-container {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    background-color: white;
}

.auth-main {
    padding: 2rem;
    color: #222;
}

.auth-input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: transparent;
    transition: all 0.2s ease;
}

.auth-input:focus {
    border-color: black;
    outline: none;
    background-color: #fafafa;
}

.auth-btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.auth-btn:hover {
    background-color: black;
    color: white;
}

.auth-switch {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.auth-switch span {
    color: #0073e6;
    cursor: pointer;
}

.auth-switch span:hover {
    text-decoration: underline;
}
